
.bg-Dark{
    background-color: #1c2331;
}

.bg-Darker{
    background-color: #161c27;
}

.bg-light{
    background-color: rgb(195, 195, 195);
}

.social a{
    padding: 15px;
}

.center{
    text-align-last: center;
    text-align: -webkit-center;
}

.white{
    color: white;
}

.border{
    border: #161c27;
}

.space{
    line-height: 2.5rem;
}

.rectangle{
    border: #313744 solid 1px;
    padding: 10px;
}

.display{
    float: left;
    width: 80%;
}

aside{
    float: right;
    width: 20%;
}

audio{
    width: 220px;
}

.card{
    max-width: 250px;
}

iframe{
    max-width: 100%;
}

label{
    color: rgb(38, 185, 38);
    font-weight: bolder;
}

.limit, .explicit, .country{
    max-width: fit-content;
}

li{
    list-style: square;
}
